body {
    font-family: 'Montserrat', serif;
	background-color: hsl(0,14%,1%);
	color: hsl(0, 0%, 93%);
	font-weight: 300;
	box-sizing: border-box;
	line-height: 1.4
}

header {
	display: flex;
	align-items: center ;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

header a {
	align-self: center;
}

.start {
	display: flex;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 1vw 3vw;
	margin-top: 6vw;;
}

.start:hover {
	background-color: hsl(100, 29%, 38%);
}

.start__text {
	color: hsl(0,14%,1%);
	font-weight: 900;
	font-size: 250%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	font-weight: 900;
	font-size: 15vw;
	text-align: center;
}

.logo--mini {
	font-size: 2vw;
	margin-left: 8vw;
}

.logo--mini:hover {
	text-decoration: underline	solid hsl(0, 0%, 71%);
	color: hsl(0, 0%, 71%);
}

.logo--starter {
	font-size: 2vw;
	margin-left: 8vw;
}

main {
	width: auto;
	margin-left: 8vw;
	margin-right: 8vw;
}
	
.main__text {
	width: 60%;
	margin-bottom: 2.25vw;
	text-align: justify;
}

.tagline {
	text-align: center;
	font-style: italic;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 93%);
	cursor: pointer;
}

a h1 {
	display: inline;
}

.sign {
	height: fit-content;
	padding: 4vw;
	margin-bottom: 30vw;
	margin-top: 3vw;	
	filter: blur(1.9vw);
	transition: all 0.6s;
}

nav .sign {
	filter: blur(0);
}

.sign:hover {
	filter: blur(0);
}

.sign--green {
	background-color: hsl(100, 27%, 53%);
}

/* Gradients acquired from: cssgradient.io, webgradients.com, and gradienthunt.com */

.sign--narrator {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.sign--guy1 {
	background-image: linear-gradient(147deg, #aa0720 0%, #FF2525 91%);

}

.sign--guy2 {
	background-image: linear-gradient(to right, #942037 6%, #b8235a 29%, #801357 51%, #3d1635 84%, #432146 100%);
	line-break: 2;
}

.sign--guy3 {
	background: linear-gradient(to left, #1F1C18, #8E0E00);
}

.sign--guy4 {
	background-image: radial-gradient( circle 603px at 32.8% 51%,  rgba(253,185,51,1) 0%, rgba(253,211,117,1) 90.3% );
}

.sign--guy5 {
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
}

.sign--guy6 {
	background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
}

.sign--guy7 {
	background-image: radial-gradient( circle farthest-corner at 5.3% 17.2%,  rgba(255,208,253,1) 0%, rgba(255,237,216,1) 90% );
}

.sign--guy8 {
	background: linear-gradient(to bottom, #61045F, #AA076B);

}

.sign--guy9 {
	background: radial-gradient( circle 935px at 3.1% 5.8%,  rgba(182,255,139,1) 0%, rgba(8,88,127,1) 100.2% );
}

.sign--guy10 {
	background-image: radial-gradient( circle 603px at 32.8% 51%,  rgba(253,185,51,1) 0%, rgba(253,211,117,1) 90.3% );
}

.sign--guy11 {
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.sign--guy12 {
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,130,159,1) 0%, rgba(103,56,96,1) 90% );
}

.sign--guy13 {
	background-image: linear-gradient(27deg, #FAD961 0%, #F76B1C 100%);
}

.sign--guy14 {
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,37,37,1) 0%, rgba(211,49,49,1) 82.8% );
}

.sign--guy15 {
	background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.sign--guy16 {
	background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
}

.sign--guy17 {
	background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
}

.sign__text {
	color: hsl(0,14%,1%);
	font-weight: 900;
	font-size: 1000%;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}

.sign--mini-text {
	font-size: 300%;
	font-weight: 700;
	margin-top: 2vw;
	text-align: right;
}

.sign--big-text {
	font-size: 2000%;
}

nav a .sign__text {
	font-size: 200%;
}

nav a .sign {
	padding: 2vw;
	cursor: pointer;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.menu__open {
	padding: .5vw;
	font-weight: 900;
	cursor: pointer;
	font-size: 3vw;
	position: fixed;
	left: 2vw;
}

.menu__close {
	padding: .5vw;
	font-weight: 900;
	cursor: pointer;
	margin: 1vw;
	margin-left: 89%;
	font-size: 3vw;
}

.menu__open:hover {
	color: hsl(0, 0%, 71%);
}

.menu__close:hover {
	color: hsl(0, 0%, 71%);
}

.menu {
	visibility: hidden;
	position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: hsl(0, 0%, 15%);
	transition: 0.5s all ease;
	overflow: auto;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
	padding-top: 1vw;
	z-index: 1;
}

.menu::-webkit-scrollbar {
	display: none;
}	

.active {
	visibility: visible;
	width: 35vw;
}

.sign--mask {
	opacity: 0.4;
}

.sign--mask:hover {
	opacity: 1;
	padding: 3vw 2vw;
	font-size: 125%;
}

.nav-wrapper {
	display: flex;
	justify-content: space-around;
	font-size: 2vw;
	font-weight: 700;
	align-items: baseline;
	position: fixed;
	left: 65%;
	top: 88vh;
	width: 30%;
	background-color: hsla(0, 0%, 15%, 0.4);
}

.nav-wrapper a {
	margin-top: 1vw;
}

.nav-wrapper a:hover {
	text-decoration: underline	solid hsl(0, 0%, 93%);
}

@media (max-width: 900px) {
	.active {
		visibility: visible;
		width:40vw;
	}

	.nav-wrapper {
		font-size: 3vw;
	}

	.sign__text {
		font-size: 750%;
		hyphens: manual;
	}

	.sign--mini-text {
		font-size: 300%;
	}

	.menu__open {
		font-size: 4vw;
	}

	.logo--mini {
		margin-left: 6vw;
		font-size: 3vw;
	}

	main {
		margin-left: 6vw;
		margin-right: 6vw;
		width: auto;
	}

  }

@media (max-width: 600px) {
	.active {
		visibility: visible;
		width:100vw;
	}

	main {
		margin-left: 2vw;
		margin-right: 2vw;
		width: auto;
		margin-bottom: 14vw;
	}

	.main__text {
		width: 100%;
		margin-bottom: 8vw;
	}

	.sign__text{
		font-size: 700%;
		hyphens: manual;
	}

	.sign--mini-text {
		font-size: 200%;
	}

	main .sign {
		margin-bottom: 110vw;
		margin-top: 6vw;
		margin-left: -4vw;
		margin-right: -4vw;
	}

	.menu__open {
		font-size: 7vw;
		left: 7vw;
		background-color: hsla(0, 0%, 15%, 0.4);
	}

	.menu__close {
		font-size: 6vw;
	}

	.logo--mini {
		font-size: 6vw;
		margin-left: 32vw;
	}

	.logo--starter {
		font-size: 6vw;
	}

	.nav-wrapper {

		font-size: 4.5vw;
		left: 0%;
		top: 91%;
		width: 100%;
	}

  }

