body {
    font-family: 'Montserrat', serif;
	background-color: hsl(0,14%,1%);
	color: hsl(0, 0%, 93%);
	font-weight: 300;
	box-sizing: border-box;
	line-height: 1.4
}

header {
	display: flex;
	align-items: center ;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

header a {
	align-self: center;
}

.start {
	display: flex;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 1vw 3vw;
	margin-top: 6vw;;
}

.start:hover {
	background-color: hsl(100, 29%, 38%);
}

.start__text {
	color: hsl(0,14%,1%);
	font-weight: 900;
	font-size: 250%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	font-weight: 900;
	font-size: 15vw;
	text-align: center;
	line-height: 0.2;
}

.logo--mini {
	font-size: 2vw;
	margin-left: 58%;
}

main {
	width: fit-content;
	margin-left: 8vw;
	margin-right: 8vw;
}
	
.main__text {
	width: 60%;
	margin-bottom: 2.25vw;
	text-align: justify;
}

.tagline {
	text-align: center;
	font-style: italic;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 93%);
	cursor: pointer;
}

a h1 {
	display: inline;
}

.sign {
	height: fit-content;
	padding: 4vw;
	margin-bottom: 40vw;
	margin-top: 6vw;	
	filter: blur(1.9vw);
	transition: all 0.6s;
}

nav .sign {
	filter: blur(0);
}

.sign:hover {
	filter: blur(0);
}

.sign--green {
	background-color: hsl(101, 35%, 60%);
}

.sign__text {
	color: hsl(0,14%,1%);
	font-weight: 900;
	font-size: 1000%;
	margin-top: 0;
	margin-bottom: 0;
}


nav a .sign__text {
	font-size: 200%;
}

nav a .sign {
	padding: 2vw;
	cursor: pointer;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.menu__open {
	padding: .5vw;
	font-weight: 900;
	cursor: pointer;
}

.menu__close {
	padding: .5vw;
	font-weight: 900;
	cursor: pointer;
	margin: 1vw;
	margin-left: 89%;
}

.menu {
	visibility: hidden;
	position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: hsl(0, 0%, 15%);
	transition: 0.5s all ease;
	overflow: auto;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
	padding: .5vw; 
	padding-top: 2vw;
	z-index: 1;
}

.menu::-webkit-scrollbar {
	display: none;
}	

.active {
	visibility: visible;
	width: 35vw;
}

.sign--mask {
	background-color: hsl(0, 0%, 65%);
	opacity: 0.212;
}
.nav-wrapper {
	display: flex;
	justify-content: space-around;
	font-size: 1.5vw;
	font-weight: 700;
}

@media (max-width: 600px) {
	.active {
		visibility: visible;
		width:100vw;
	}

	main {
		margin-left: 2vw;
		margin-right: 2vw;
		width: auto;
	}

	.main__text {
		width: 100%;
		margin-bottom: 8vw;
	}

	.sign__text{
		font-size: 300%;
	}

	.sign {
		margin-bottom: 140vw;
		margin-top: 6vw;
	}

	.logo--mini {
		font-size: 6vw;
	}

  }

@media (min-width: 900px) {
	.active {
		visibility: visible;
		width:20vw;
	}

  }